<nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom mb-4">
  <div class="container">
    <%= link_to "Rails App", root_path, class: "navbar-brand" %>

    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Posts", posts_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item <%= "active" unless current_page?(rodauth.oauth_applications_path) %>">
            <%= link_to_unless_current "Client Applications", rodauth.oauth_applications_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
    <% if user_signed_in? %>
      <div class="dropdown">
        <%= link_to current_user.email, "#", class: "btn btn-info dropdown-toggle", data: { toggle: "dropdown" } %>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to "Change password", edit_user_password_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
      <div>
        <%= link_to "Sign in", new_user_session_path, class: "btn btn-outline-primary" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</nav>