<h2><%= rodauth.new_oauth_application_page_title %></h2>
<%= form_tag rodauth.oauth_applications_path, method: :post, class: "form-horizontal" do %>
  <%= rodauth.field_error('scope') %>
  <div class="form-group">
    <%= label_tag "name", rodauth.oauth_applications_name_label %>
    <%= text_field_tag "name", rodauth.param('name'), class: "form-control#{' is-invalid' if rodauth.field_error('name')}" %>
    <%= rodauth.field_error('name') %>
  </div>
  <div class="form-group">
    <%= label_tag "description", rodauth.oauth_applications_description_label %>
    <%= text_field_tag "description", rodauth.param('description'), class: "form-control#{' is-invalid' if rodauth.field_error('description')}" %>
    <%= rodauth.field_error('description') %>
  </div>
  <div class="form-group">
    <%= label_tag "homepage_url", rodauth.oauth_applications_homepage_url_label %>
    <%= text_field_tag "homepage_url", rodauth.param('homepage_url'), id: "homepage-url", class: "form-control#{' is-invalid' if rodauth.field_error('homepage_url')}" %>
    <%= rodauth.field_error('homepage_url') %>
  </div>
  <div class="form-group">
    <%= label_tag "redirect_uri", rodauth.oauth_applications_redirect_uri_label %>
    <%= text_field_tag "redirect_uri", rodauth.param('redirect_uri'), id: "redirect-uri", class: "form-control#{' is-invalid' if rodauth.field_error('redirect_uri')}" %>
    <%= rodauth.field_error('redirect_uri') %>
  </div>
  <div class="form-group">
    <%= label_tag "client_secret", rodauth.oauth_applications_client_secret_label %>
    <%= text_field_tag "client_secret", rodauth.param('client_secret'), id: "client-secret", class: "form-control#{' is-invalid' if rodauth.field_error('client_secret')}" %>
    <%= rodauth.field_error('client_secret') %>
  </div>
  <% rodauth.oauth_application_scopes.each do |scope| %>
    <div class="form-check">
      <%= check_box_tag "scopes[]", scope, id: scope, class: "form-check-input" %>
      <%= scope %>
    </div>
  <% end %>
  <div class="form-group">
    <%= submit_tag rodauth.oauth_application_button, class: "btn btn-primary" %>
  </div>
<% end %>